/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 960px) {}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    /* .popular-products {
        width: 50%;
        margin: 0 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:
            10px;
    } */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .popular-products {
        grid-template-columns: repeat(1, 1fr);
    }
}