/*_________________common style__________________*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFF;
}

.btn {
    padding: 10px 24px;
    background: #E02C6D;
    border-radius: 41px;
    border: none;
    color: white;
    width: 196px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 1s linear, background-color;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #e02c6edc;
    box-shadow: 2px 3px 20px #df7fa2e5;
}




/*_________________Header Section Start Now__________________*/

/*-------Navbar section start------*/
nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    box-shadow: 1px 1px 2px rgb(223 223 223);
    align-items: center;
    margin-bottom: 30px;
}

.nav-logo h2 {
    font-weight: bold;
    font-size: 24px;
    color: #3A3A3A;
    padding-left: 100px;
}

.navigation {
    padding-right: 100px;
}

.navigation ul li {
    display: inline;
    list-style: none;
}

.navigation ul li a {
    padding-right: 20px;
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
}

.navigation ul li a .fa-search {
    font-size: 18px;
}

.navigation ul li a .fa-shopping-cart {
    font-size: 20px;
}

#nav-toggle {
    display: none;
}

.nav-icon {
    display: none;
}



/*-------Banner section start------*/
.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    width: 100%;
}

.banner_info {
    width: 50%;
    padding-left: 80px;
}

.banner_info h1 {
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    padding-bottom: 10px;
}

.banner_info p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3A3A3A;
    padding-bottom: 22px;
}

.btn i {
    padding-left: 8px;
}

.banner-image {
    width: 50%;

}

.banner-image img {
    width: 440px;
    height: 414px;
}



/*_________________Header Section end Now__________________*/



/*_________________Main Section start Now__________________*/

/* ------- ecommerce logo ----- */
.ecommerce-logo {
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid rgb(236, 235, 235);
    border-bottom: 1px solid rgb(236, 235, 235);
    box-shadow: 2px 2px 2px rgb(236, 235, 235);
    padding: 35px 0;
    text-align: center;
}

/*-- Popular Collection --*/
.popular-callection {
    width: 100%;
}

.popular-callection h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
    color: #3A3A3A;
    text-align: center;
    padding-bottom: 30px;
}

.popular-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 80%;
    margin: 0 auto;
}

.product {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px 20px;
}

.proudct-images img {
    width: 300px;
    height: 256px;
}

.product-info h3 {
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    padding-top: 16px;
    padding-bottom: 6px;
    color: #18191F;
}

.product-info h5 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 14px;
    color: rgba(0, 0, 0, 0.87);
}


.product-rating .fas {
    color: #F59F00;
    font-size: 11px;
}

.ratting-ponit {
    font-weight: 700;
    font-size: 14px;
    padding-left: 9px;
    color: #5E6366;
}

.product-info p {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
    padding-top: 5px;
}

.see-more {
    padding: 40px 0;
    width: 80%;
    color: #E02C6D;
    font-weight: bold;
    margin: 0 auto;
    text-align: right;
}

.see-more i {
    padding-left: 5px;
}

/*----------blog section-----------*/
.blog-section {
    width: 80%;
    margin: 70px auto;
}

.blog-section h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 30px;
    color: #3A3A3A;
    text-align: center;
    padding-bottom: 20px;
}

.blog-title {
    padding: 20px 0;
}

.blog-title h3 {
    font-size: 20px;
    color: #3A3A3A;
    line-height: 1.5;
    padding-bottom: 15px;
}

.blog-title h6 {
    font-size: 14px;
}

.fa-clock,
.fa-user {
    color: #E02C6D;
}

.blog-img img {
    width: 100%;
    border-radius: 5px;
}

.blog-info p {
    padding: 10px 0;
    line-height: 2;
    color: #3A3A3A;
}

.blog-info span {
    color: #E02C6D;
}

.see_more {
    font-weight: bold;
}



/*_________________Main Section end Now__________________*/

/*_________________Footer Section Start Now__________________*/
.footer-section {
    background: #0A0826;
    text-align: center;
    padding: 30px 0;
    color: white;
}

.footer-section h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.footer-section h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    padding-bottom: 5px;
}

.footer-section h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
    padding-bottom: 5px;
    transition: color 2s linear;
}

.social-icon a {
    padding-left: 7px;
    color: #FFFFFF;
    padding-right: 7px;
}

.social-icon a :hover {
    color: #E02C6D;
}


/*_________________Footer Section end Now__________________*/